<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color:black;">
<h1 style="color:white"> RANDOM ANIME PICTURES </h1>
<img th:width="200px" th:src="${animeImages.get(0)}" />
<img th:width="200px" th:src="${animeImages.get(1)}" />
<img th:width="200px" th:src="${animeImages.get(2)}" />
<img th:width="200px" th:src="${animeImages.get(3)}" />
<img th:width="200px" th:src="${animeImages.get(4)}" />


</body>
</html>